{% extends 'index.html' %}

{% block content %}
<style>
    a {
        text-decoration: none;
        color: black;
    }
    a:hover{
        color: darkgray;
    }

    p {
        white-space: nowrap;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
</style>
<main>
    <div class="row row-cols-3 m-auto">
        {% for content in news %}
        <div class="col">
            <div class="card  border-0 shadow">
                <div class="card-body">
                    <h5 class="card-title"><a href="">{{content.title}}</a></h5>
                    <small class="card-subtitle mb-2 text-muted">{{content.post_date}}</small>
                    <hr>
                    <p class="card-text">{{content.detail}}</p>
                    <hr>
                    <div class="d-flex flex-row justify-content-between">
                        <a href="#" class="card-link">ข่าว{{content.category}}</a>
                        <a href="#" class="card-link">โดย {{content.post_by}}</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</main>
{% endblock content %}