{% extends 'index.html' %}

{% block content %}
<style>
    a {
        text-decoration: none;
    }
</style>
<main>
    <div class="row row-cols-3 m-auto">
        {% for content in news %}
        <div class="col">
            <div class="card" style="">
                <div class="card-body">
                  <h5 class="card-title">{{content.title}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{content.post_date}}</h6>
                  <hr>
                  <p class="card-text">{{content.detail}}</p>
                  <a href="#" class="card-link">ข่าว{{content.category}}</a>
                  <a href="#" class="card-link">ผู้เขียน : {{content.post_by}}</a>
                </div>
              </div>
        </div>
        {% endfor %}

    </div>
</main>
{% endblock content %}